:root{
    --primary-color: #EE4D2D;
    --white-color: #faf7f7;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
}
/* .btn{
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0px 8px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: flex ;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;

}

.btn.btn--disabled{
    color: #cccccc;
    cursor: default;
    background-color: #ccc;
}
.btn--size-s{
    height: 32px;
    font-size: 16px;
    padding: 0 8px;
} */
