/* reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.btn {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0px 8px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;

}

.btn.btn--disabled {
    color: #cccccc;
    cursor: default;
    background-color: #ccc;
}

.btn--size-s {
    height: 32px;
    font-size: 16px;
    padding: 0 8px;
}

.padding-30 {
    padding-left: 20px;
    padding-right: 10px;
}

.padding-40 {
    padding-left: 30px;
    padding-right: 10px;
}

.text-white {
    color: rgb(192, 144, 71) !important;
}

.text-center {
    text-align: center !important;
}

/* Main */
#header {
    height: 100px;
    background-color: #fffdfd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
}

.navbar.navbar-default {
    background-color: white;
}

.navbar {
    border: unset;
}

.navbar-brand {
    padding: 0;
}

.nav.navbar-nav {
    height: 100px;
}
.navbar-nav{
    margin-left: 20px;
}
.nav.navbar-nav>li {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    
}

.nav.navbar-nav>li>a {
    color: black;
    text-transform: uppercase;
    font-size: 18px;
}

.nav.navbar-nav>li:hover {
    color: #000000;
    background-color: #C8C8C8;
}

.header-logo img {
    width: 200px;
    height: 100px;
}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav {}

#nav>li {
    display: inline-block;

}

#nav li {
    position: relative;

}

#nav>li>a {
    color: black;
    text-transform: uppercase;
    font-size: 18px;

}

#nav li a {
    text-decoration: none;
    line-height: 100px;
    padding: 0 35px;
    display: inline-block;
}

#nav li:hover .subnav {
    display: block;
}

#nav>li:hover>a {
    color: #000000;
    background-color: #C8C8C8;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0.3);
}

#nav .subnav a {
    color: #000000;
    padding: 0 16px;
    line-height: 38px;
}
.dropdown-menu li a{
    font-size: 16px;
}
#nav .subnav li:hover {
    color: #000000;
    background-color: #C8C8C8;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

.row {
    margin-top: -80px;
}

.search-btn {
    float: right;
    padding: 0 50px;
    border-radius: 3px;
    height: 100px;
}

.search-btn:hover {
    background-color: #997371;
}

.search-icon {
    color: #000000;
    font-size: 20px;
    line-height: 100px;
    cursor: pointer;
}

.container {
    margin-top: 100px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 100% !important;
}

.carousel-caption h3 {
    color: #e7ee9f;
}

.carousel-caption p {
    color: #e7ee9f;
}

/*Footer
-----------------------*/

.footer-section {
    background: white;
    padding-top: 0px;
    padding: 0 10px;
}

.footer-left {
    margin-bottom: 30px;
}

/* .footer-left .footer-logo {
    margin-bottom: 24px;
} */

.footer-left .footer-logo a {
    display: inline-block;
}

.footer-left ul li {
    list-style: none;
    color: black;
    font-size: 16px;
    line-height: 30px;

}

/* .footer-widget__aboutus li{
    padding-bottom: 20px;
} */
.footer-left .footer-social {
    padding-top: 25px;
}

.footer-left .footer-social a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #0472e0;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 7px;
    position: relative;
    z-index: 1;

}

.footer-left .footer-social a:hover:before {
    opacity: 1;
}

.footer-left .footer-social a:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #e7ab3c;
    content: "";
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: -1;
}

.footer-widget {
    /* margin-bottom: 30px; */
}

.footer-widget h5 {
    color: black;
    font-weight: 700;
    margin-bottom: 26px;
}

.footer-widget ul li {
    list-style: none;
}

.footer-widget ul li a {
    line-height: 36px;
    font-size: 16px;
    color: black;
}

.newslatter-item h5 {
    color: black;
    font-weight: 700;
    margin-bottom: 30px;
}

.newslatter-item p {
    color: #b2b2b2;
    line-height: 26px;
}

.newslatter-item .subscribe-form {
    position: relative;
    margin: 0 -10px;
}

.newslatter-item .subscribe-form input {
    color: #b2b2b2;
    background: #303030;
    width: 100%;
    height: 46px;
    font-size: 16px;
    border: none;
    padding-left: 20px;
}

.newslatter-item .subscribe-form input::-webkit-input-placeholder {
    color: #b2b2b2;
}

.newslatter-item .subscribe-form input::-moz-placeholder {
    color: #b2b2b2;
}

.newslatter-item .subscribe-form input:-ms-input-placeholder {
    color: #b2b2b2;
}

.newslatter-item .subscribe-form input::-ms-input-placeholder {
    color: #b2b2b2;
}

.newslatter-item .subscribe-form input::placeholder {
    color: #b2b2b2;
}

.newslatter-item .subscribe-form button {
    display: inline-block;
    color: #ffffff;
    background: #bd4f4f;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #F96666;
    position: absolute;
    right: 0;
    top: 0;
    padding: 13px 20px 12px;
    cursor: pointer;
}

.footer-widget h3 {
    font-style: inherit;
    color: #bd4f4f;

}

.footer-widget__aboutus {
    margin-top: 15px;
}

.newslatter-item h3 {
    font-style: inherit;
    color: #bd4f4f;
}

.copyright-reserved {
    border-top: 1px solid #303030;
    background-color: #6C6C6C;
    padding: 15px 0;
    margin-top: 45px;
    height: 60px;
    margin: 0 -10px;
}

.copyright-reserved .copyright-text {
    float: left;
    font-size: 16px;
    color: #b2b2b2;
}

.copyright-reserved .copyright-text a {
    color: #b2b2b2;
}

.copyright-reserved .copyright-text i {
    color: #cc2424;
}

.copyright-reserved .copyright-text a:hover {
    color: #e7ab3c;
}

.copyright-reserved .payment-pic {
    float: right;
}

.image img {
    height: 270px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.view-information {
    height: 40px;
    width: 101px;
    background-color: #cc2424;
    border-radius: 3px;

}

.view-information {
    line-height: 40px;
    text-decoration: none;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.view-information:hover {
    color: #996161;
}

.image {
    margin-top: 10px;
    padding-left: 20px;
    cursor: pointer;
    transition: 0.20s;
    /* padding-right: 18px; */
}

.image:hover {
    transform: scale(1.009);
}

.mt-10 {
    margin-top: 10px;
}

.image-1 {
    cursor: pointer;
    transition: 0.20s;
}

.image-1:hover {
    transform: scale(1.009);
}

.item {
    border: 1px solid #ddd;
    transition: 0.5s;
    border-radius: 4px;
    box-shadow: 0 0 10px #ccc;

}

.item h3 {
    padding: 5px;
    margin: 0;
    text-align: center;
}

.item p {
    padding: 5px;
    margin: 0;
    text-align: center;
}

/* .item:hover {
    transform: scale(1.1);
} */

.auth-form {
    width: 800px;
    height: auto;
    border-radius: 5px;
    background-color: #fcfafa;
    margin: 0 auto;
    box-shadow: 0 0 10px #ccc;
}

.auth-form__container {
    padding: 0 32px;
    margin-top: 130px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.5rem;
    font-weight: 400;
    color: #bd4f4f;
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input1 {
    height: 80px;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 16px;
    line-height: 2.0rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: #bd4f4f;
}

.btn.btn--primary:hover {
    background-color: #cf9191;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    font-size: 18px;
    line-height: 2.0rem;
    color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon {
    font-size: 1.9rem;

}

/*.auth-form__socials--facebook,*/
/*.auth-form__socials-icon{*/
/*    color: var(--white-color) ;*/
/*}*/
.auth-form__socials--facebook {
    background-color: #4a7eee;
}

.auth-form__socials--facebook:hover {
    background-color: #89a0e0;
}

.auth-form__socials--title {
    margin: 0 36px;
}

.auth-form__socials--google {
    background-color: #afaaaa;
    color: #666;
}

.auth-form__socials--google:hover {
    background-color: #f4eeee;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: 2px 16px 0px;
    border-left: 1px solid var(--border-color);
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

.none {
    display: none !important;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.top-0 {
    top: 0;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end
}

.items-center {
    align-items: center;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.input-search {
    width: 400px;
    height: 40px;
    border-radius: 12px;
    padding: 0 15px;
    border: 1px solid #C8C8C8;
    font-size: 18px;
}

.input-search:focus-visible {
    border: 1px solid #675656;
    outline: unset;
}

.mr-20 {
    margin-right: 20px;
}

.-m-10 {
    margin: 0 -10px;
}

.search-suggest {
    position: absolute;
    top: 45px;
    width: 100%;
    padding: 20px;
    background: #ccc;
    border-radius: 12px;
}

.search-suggest a {
    display: block;
}

.style-text {
    margin-top: 130px;
    text-align: justify;
}

.style-text h3 {
    color: #bd4f4f;
    font-weight: bold;
    /* border-bottom: 1px solid #C8C8C8; */
    padding-bottom: 10px;
}

.style-text h4 {
    color: #bd4f4f;
    font-weight: bold;
}

.style-text p {
    line-height: 2.0rem;
    font-size: 16px;
}
.style-text12 {
    line-height: 2.0rem;
    font-size: 16px;
}
.style-text13{
    font-size: 15px;
    line-height: 1.8rem;
    margin-bottom: 5px;
}
.style-text14{
    font-size: 14px;
    line-height: 1.8rem;

}
.style-text img {
    width: 100%;
    height: auto;
    margin-left: 30px;
    padding-right: 40px;
}

.float-right {
    float: right;
}
.style-text__aboutus{
    text-align: center;
}
.style-text1{
    border-top: 1px solid #C8C8C8;
}
.style__text2 ul li{
    list-style: none;
    margin-left: 30px;
}
.ti-check1{
    color: orange;
}
.ti-check2{
    color: #bd4f4f;
    font-size: 16px;
    margin-left: 30px;
}
.content__hottour{
    color: #bd4f4f;
    font-size: 24px;
    margin-left: 10px;
    font-style: italic ;
}
.content__hottour a{
    color: #bd4f4f;
    font-size: 24px;
    margin-left: 10px;
    font-style: italic ;
    text-decoration: underline;
}


@media only screen and (max-width: 1112px) {
    .nav.navbar-nav>li {
        padding: 0 5px;
    }

    .header-logo img {
        width: 150px;
        height: 75px;
    }
}

@media only screen and (max-width: 992px) {
    .nav.navbar-nav>li {
        padding: 0;
    }

    .search-btn {
        float: right;
        padding: 0 15px;
        border-radius: 3px;
        height: 100px;
        margin-right: 40px;
    }

    .search-icon {
        /* font-size: 16px; */
        /* margin-right: 10px; */
        
    }

    .nav.navbar-nav>li>a {
        font-size: 14px;
        
    }
    .image {
        padding-left: 0px;     
    }
    .style-text p {
        line-height: 2.0rem;
        font-size: 14px;
    }
    .style-text {
        margin-top: 130px;
        text-align: justify;
    }
    .style-text12 {
        line-height: 2.0rem;
        font-size: 14px;
    }
}

@media only screen and (max-width: 806px) {
    .header-logo img {
        width: 100px;
        height: 50px;
    }

    .nav.navbar-nav {
        height: unset;
    }

    .search-btn {
        height: unset;
        padding: 0 15px;
    }

    .search-icon {
        line-height: 50px;
    }
    
    .input-search {
         width: 300px;
         height: 30px;
    }
    .image {
        padding-left: 0px;     
    }
    .row{
        margin-left: 0px;
        margin-right: -15px;
    }
    .copyright-reserved .copyright-text {
        float: left;
        font-size: 10px;
        color: #b2b2b2;
    }
    .copyright-reserved .payment-pic {
        float: right;
        margin-right: 40px;
    }
    .style-text p {
        line-height: 2.0rem;
        font-size: 13px;
    }
    .style-text {
        margin-top: 130px;
        text-align: justify;
    }
    .style-text12 {
        line-height: 2.0rem;
        font-size: 13px;
    }
    .style-text13{
        font-size: 12px;
        line-height: 1.5rem;
    }
    .style-text13{
        font-size: 13px;
        line-height: 1.8rem;
    }
    .style-text14{
        font-size: 13px;
        line-height: 1.8rem;
    
    }

    
}